<% include ./partials/boilerplate.ejs %>
<header>
    <h3 class='logo' id='top'>Now We're Cookin'</h3>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
        <li><a class='current' href='/search'>Search</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='logo'><%= subTitle %></h1>
    <div class='button_container search'>
        <form method='get'>
            <input type="text" name="search" id='search' placeholder="Enter an ingredient...">
            <input type='submit' class='button' id='SearchButton' value='Search' />
        </form>
    </div>
    <% if (typeof recipeHits === 'object') {recipeHits.forEach(function(hit) { %>
        <div class='polaroid single index'>
            <div class='polaroid_photo'>
                <img src='<%= hit.recipe.image %>' alt='<%= hit.recipe.label %> dish'>
            </div>
            <div class='polaroid_content'>
                <h1 class='secondary recipe_title'><%= hit.recipe.label %></h1>
                <div class='button_container'>
                    <a class='button black' href='<%= hit.recipe.url %>' target='_blank'>View Recipe</a>
                </div>
            </div>
        </div>
    <% })} %>
    <h2 class='title'><%= message %></h2>
    <img class='attribution' src='../static/images/Edamam_logo.png' alt='Edamam Logo'>
    <a class='button' id='topButton' href='#top'>Back To Top</a>
</div>
<% include ./partials/end %>