<% include ../partials/boilerplate %>
<header>
    <h1 class='title'>Now We're Cookin'</h1>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a class='current' href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
    </nav>
</header>
<hr>
<h1 class='title'>Recipes</h1>
<div class='container'>
    <% recipesData.forEach(function(recipe) { %>
        <div class='polaroid'>
            <div class='polaroid_photo'>
                <img src='../static/images/shrimp_scampi.jpg'>
                <p><span class='title'>Description: </span><%= recipe.description %></p>
            </div>
            <h1 class='recipe_title'><%= recipe.title %></h1>
            <h2>By: <%= recipe.author %></h2>
            <h2>Category: <%= recipe.cetegory_type %></h2>
            <a href='/recipes/<%= recipe.id %>'>Info</a>
            <a href='/recipes/edit/<%= recipe.id %>'>Edit</a>
            <form method='POST' action='/recipes/<%= recipe.id %>?_method=DELETE'>
                <input type='submit' class='button' value='Delete' />
            </form>
        </div>
    <% }) %>
</div>
    <a class='button' href='/recipes/add'>Add a new recipe</a>
    <hr>
<% include ../partials/end %>