<% include ../partials/boilerplate %>
<header>
    <h3 class='nav title'>Now We're Cookin'</h3>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='title'>Edit Recipe</h1>
    <hr>
    <div class='polaroid single'>
        <div class='polaroid_photo'>
            <img src='../static/images/shrimp_scampi.jpg' alt='<%= recipe.title %> dish'>
        </div>
        <div class='polaroid_content'>
            <h2>Your Photo Here</h2>
        </div>
    </div>
    <form class='input_form' method='POST' action='/recipes/<%= id %>?_method=PUT'>
        <label for="title">Title<input name='title' class='form' id='title' type='text' value='<%= recipe.title %>' /></label>
        <label for="author">Author<input name='author' class='form' id='author' type='text' value='<%= recipe.author %>' /></label>
        <label for="category">Category<input name='category_type' class='form' id='category' type='text' value='<%= recipe.category_type %>' /></label>
        <section id='ingredientlist'>
            <label for="ingredients">Ingredients</br>
            <% recipe.ingredients.forEach(function(ingredient) { %>
            <input name='ingredients' class='form' id='ingredients' type='text' value='<%= ingredient %>' />
            <% }) %>
            </label>
        </section>
        <button type="button" class='add_ingredient'>Add Ingredient</button>
        <label for="description">Description<textarea name='description' id='description' class='form'><%= recipe.description %></textarea></label>
        <input type='submit' class='button' value='Update' />
</form>
</div>
<script src='../../static/js/main.js'></script>
<% include ../partials/end %>