<% include ../partials/boilerplate %>
<header>
    <h3 class='logo'>Now We're Cookin'</h3>
    <nav>
        <li><a href='/'>Home</a></li>
        <li><a href='/recipes'>Recipes</a></li>
        <li><a href='/recipes/add'>Add</a></li>
    </nav>
</header>
<div class='container'>
    <h1 class='primary'>Edit Recipe</h1>
    <hr>
    <div class='polaroid single'>
        <div class='polaroid_photo'>
            <img src='../../static/images/shrimp_scampi.jpg' alt='<%= recipe.title %> dish'>
        </div>
        <div class='polaroid_content'>
            <label for='photo' class='title'>Photo Url:<input name='photo' id='photo' type='text' placeholder='paste url here'/></label></br>
        </div>
    </div>
    <form class='input_form' id='input_form' method='POST' action='/recipes/<%= id %>?_method=PUT'>
        <div class='button_container'>
            <label for='title' class='title'>Title:<input name='title' id='title' type='text' value='<%= recipe.title %>' /></label></br>
            <label for='author' class='title'>Author:<input name='author' id='author' type='text' value='<%= recipe.author %>' /></label></br>
            <label for='category' class='title'>Category:<input name='category_type' id='category' type='text' value='<%= recipe.category_type %>' /></label></br>
            <label id='ingredientlist' class='title'>Ingredients:</br>
                <% {recipe.ingredients.forEach(function(ingredient) { %>
                    <input class='item' type='text' value='<%= ingredient %>' />
                <% })} %>
            </label>
            <button type='button' class='button add_ingredient'>Add Ingredient</button>
            <input name='ingredients' id='ingredients' type='text'/> 
            <div class='button_container'>
        <label for='description' class='title'>Directions:</br><textarea name='description' id='description'><%= recipe.description %></textarea></label>
        
            <input type='submit' class='button' id='submit1' value='Update Recipe' />
        </div>
    </form>
</div> <!-- end of container -->
<script src='../../static/js/main.js'></script>
<% include ../partials/end %>